<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <img src="{{users.avatar_url}}" alt="">
      </div>
    </div>
    <div class="col-md-6">
      <div id="card">
        <div class="card-body">
          <div id="title">
            <h2>Profile Infomation</h2>
          </div>
          <p *ngIf='users.login'>
            <span>UserName:</span>
            {{users.login}}
          </p>

          <p>
            <span>Repositories:</span>
            {{users.public_repos}}
          </p>

          <p>
            Following:
            {{users.following}}
          </p>

          <p>
            Followers:
            {{users.followers}}
          </p>

          <p>
            Joined:
            {{users.created_On | date}}
          </p>
        </div>
      </div>
    </div>
    <div>
        <div class="heading">
            <h1>Github Repositories.</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" *ngFor='let repo of repo'>
            <div class="card">
               <div class="card-body">
                   <h5 class="card-title">Name: {{repo.name}}</h5>
                   <p class="card-text">Description: {{repo.description}}</p>
                   <p class="card-text">Language: {{repo.language}}</p>
                   <p class="card-text">Created on: {{repo.created_On | date}}</p>

                   <a href="{{repo html_url}}">View repo</a>
               </div>
            </div>
        </div>
    </div>
  </div>
</div>
